body {
    width: 60vw;
    margin: 0 auto;
}

h1 {
    margin: 1em auto;
    text-align: center;
    font-weight: bold;
  }

#jobResultList{
    list-style-type: circle;
}

#jobResultList li{
    margin: 8px 16px;
}

#jobResultList li :first-child{
    font-weight: 700;
    color: black;
}
#jobResultList li :last-child{
    font-weight: 700;
    color: grey;
}